@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skeleton theme */
@import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
/* or another theme from the same folder */

/* Your app styles */
html,
body {
  @apply h-full overflow-hidden;
}
