@import 'tailwindcss';
@import '../node_modules/@skeletonlabs/skeleton/src/themes/crimson.css';
@import '../node_modules/@skeletonlabs/skeleton/src/index.css';

html,
body {
	@apply min-h-screen overflow-x-hidden bg-slate-950 text-slate-50;
}

a {
	@apply text-sky-300 hover:text-sky-200 underline-offset-2 hover:underline;
}
