@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skeleton theme (pick ONE) */
@import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
/* @import '@skeletonlabs/skeleton/themes/theme-crimson.css'; */
/* @import '@skeletonlabs/skeleton/themes/theme-modern.css'; */

/* Your global app styles */
html,
body {
  @apply h-full overflow-hidden;
}
